/* ------------------------------------------------------ */
/*                         BUTTONS                        */
/* ------------------------------------------------------ */
@media only screen and (max-width: 960px) {
  .recipe-card .view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .recipe-card .view .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* ------------------------------------------------------ */
.button-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button-holder .button {
  margin-left: 10px;
}

.button {
  text-align: center;
  font: normal normal normal 20px/27px;
  letter-spacing: 2px;
  color: #000000;
  opacity: 1;
  background: #ffd972 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 10px 6px #00000029;
          box-shadow: 0px 10px 6px #00000029;
  border-radius: 26px;
  opacity: 1;
  cursor: pointer;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

/* --------- hides and displays buttons on hover -------- */
.view {
  display: none;
}

.recipe-card:hover .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}