/* ------------------------------------------------------ */
/*                         FOOTER                         */
/* ------------------------------------------------------ */
@media only screen and (max-width: 960px) {
  //
}
@media only screen and (max-width: 425px) {
  footer {
    // position: sticky;
  }
  .footer-links {
    display: block;
  }
}
#heroWrapper {
  position: relative;
}
footer {
  // position: sticky;
  margin-top: 18%;
  padding-top: 6%;

  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    /* -------------------- copyright ------------------- */
    .copyright-footer {
      //
    }
    /* ---------------------- links --------------------- */
    .footer-links {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      a {
        text-decoration: none;
      }
    }
    /* ------------------ social media ------------------ */
    .footer-social {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.social {
  height: 19px;
  width: 19px;
}
.facebook {
  margin-left: 40px;
  margin-right: 30px;
}
.instagram {
  margin-left: 40px;
  margin-right: 30px;
}
