/* ------------------------------------------------------ */
/*                          HERO                          */
/* ------------------------------------------------------ */

// nav-url.js
// classes from hashchange

#heroWrapper {
  //
}
.home,
.homeHero {
  background-image: linear-gradient(
      to bottom,
      rgba(242, 92, 82, 0.6),
      rgba(242, 92, 82, 0.6)
    ),
    url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.browse,
.browseHero,
.your-recipe {
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(167, 232, 189, 0.6),
      rgba(167, 232, 189, 0.6)
    ),
    url(../images/f967b1be89502f15f69bc109368673fc@2x.png) !important;
  background-position: center;
  background-size: cover !important;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  min-height: 100vh;
}
.loginHero,
.login-hero,
.login {
  background-color: #ffd972 !important;
  min-height: 100% !important;
  min-width: 100% !important;
}
.create-recipe {
  //
}
.edit-recipe {
  //
}
.view-recipe {
  background-color: white;
  // margin: 5%;
  //
}
