/* ------------------------------------------------------ */
/*                 HOME | THE JUNGLE COOK                 */
/* ------------------------------------------------------ */
.home-hero-wrapper {
  background-image: linear-gradient(
      to bottom,
      rgba(242, 92, 82, 0.6),
      rgba(242, 92, 82, 0.6)
    ),
    url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.home-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* ------------------- yellow circle ------------------ */
  .yellow-circle {
    background: #ffd972 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #00000029;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 358px;
    height: 358px;
    position: relative;
    /* ------------------- main title ------------------- */
    h2 {
      text-align: left;
      font-size: 24px;
      letter-spacing: 2.4px;
    }
    /* ----------------- main paragraph ----------------- */
    p {
      width: 70%;
      text-align: center;
      font-size: 13px;
      letter-spacing: 1.3px;
    }
  }
  /* -------------------- pink circle ------------------- */
  .pink-circle {
    background: #fcbcb8 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #00000029;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fcbcb8;
    width: 168px;
    height: 168px;
    margin-bottom: 300px;
    margin-left: -100px;
    p {
      font-style: italic;
      width: 70%;
      text-align: center;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
}
