/* ------------------------------------------------------ */
/*                          LOGIN                         */
/* ------------------------------------------------------ */
@media only screen and (max-width: 960px) {
  .login-page-wrapper {
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 10%;
  }
}

.loginHero,
.login-hero {
  background-color: #ffd972 !important;
  min-height: 100% !important;
}
.login-page-wrapper {
  // min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  //
  .form-holder {
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: left;
      font: normal normal normal 30px/40px Lato Black;
      letter-spacing: 3px;
      color: #000000;
      opacity: 1;
    }
    .signup-heading-text {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      .span-signup-small {
        text-align: left;
        font: italic normal normal 12px/15px Lato;
        letter-spacing: 1.2px;
        color: #000000;
        opacity: 1;
      }
    }
    .form-content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input {
        background-color: #ffd972;
        min-height: 52px;
        width: 200px;
        // width: 150%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: black solid;
      }
      input::placeholder {
        text-align: left;
        font: normal normal normal 12px/15px Lato;
        letter-spacing: 1.2px;
        color: #000000;
        opacity: 1;
      }
      .login-page-buttons {
        background: #ffd972 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 6px #00000029;
        border-radius: 26px;
        opacity: 1;
        border-bottom: none;
        border: none;
        font: normal normal normal 25px Lato;
        letter-spacing: 2.5px;
        color: #000000;
        opacity: 1;
        margin-top: 40px;
        width: 100%;
        height: 52px;
      }
    }
  }
}
