/* ------------------------------------------------------ */
/*                       NAVIGATION                       */
/* ------------------------------------------------------ */
/* ----------------------- mixins ----------------------- */
// mixins for hamburger/navicon
@mixin navHamburger {
  position: fixed;
  top: 0;
  z-index: 200;
}
@mixin navHolderHamburger {
  position: relative;
}
@mixin barsHamburger {
  display: block;
}
@mixin linksHamburger {
  margin-left: 0px;
  text-align: left;
  margin-top: 40px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  width: 200px;
  margin-right: -75%;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  position: relative;
  z-index: 100;
  box-shadow: 10px 10px 6px 6px #00000029;
}
@mixin aHamburger {
  margin: 10px;
  font-size: 16px;
}
/* ---------------------- scrolling --------------------- */
// turns navigation into hamburger after scrolling page and returns to navbar when returned to top of page
.nav-scrolled {
  @include navHamburger;
}
.nav-holder-scrolled {
  @include navHolderHamburger;
  .bars-scrolled {
    @include barsHamburger;
  }
  .links-scrolled {
    @include linksHamburger;
    .a-scrolled {
      @include aHamburger;
    }
  }
}
/* --------------------- under 960px -------------------- */
@media only screen and (max-width: 960px) {
  nav {
    @include navHamburger;
  }
  .nav-holder {
    @include navHolderHamburger;
    .bars {
      @include barsHamburger;
    }
    .links {
      @include linksHamburger;
      a {
        @include aHamburger;
      }
    }
  }
}

/* ------------------------ main ------------------------ */
.nav-scrolled {
  padding-bottom: 0;
  padding-top: -15px;
  margin-top: -15px;
}
ul {
  padding: 0;
}
nav {
  position: fixed;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 10px;
  transition: 0.4s;
  top: 0;
  z-index: 99;

  .nav-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .links {
    // margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-right: 30px;
    margin-left: 45%;
    border: none;
    background: transparent;
    list-style: none;
    a {
      font-size: 25px;
      text-decoration: none;
      text-align: left;
    }
  }

  .links.active {
    padding-right: 30px;
    height: auto;
    opacity: 1;
  }

  .login-button {
    background: #ffd972 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 6px #00000029;
    border-radius: 26px;
    opacity: 1;
    width: 158px;
    height: 52px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bars {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 31px;
    margin-right: 10px;
    border-radius: 32px;

    .bar {
      display: block;
      width: 31px;
      margin: 5px 0;
      background-color: black;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }
  }
  li:nth-child(2n + 1) {
    background: transparent;
  }
  .bars.active {
  }
  .bars.active .bar {
  }
  .bars.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .bars.active .bar:nth-child(2) {
    opacity: 0;
  }
  .bars.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .bars.active .bar:nth-child(4) {
    opacity: 0;
  }
}

/* ------------------------------------------------------ */
