/* ------------------------------------------------------ */
/*                       view RECIPE                      */
/* ------------------------------------------------------ */

/* -------------------- media queries ------------------- */
@media only screen and (max-width: 960px) {
  .view-recipe-holder {
    padding-top: 11%;
    padding-bottom: 11%;
  }
  .des-top {
    width: 80vw;
  }
}

/* ------------------------------------------------------ */
/*                          MAIN                          */
/* ------------------------------------------------------ */
.view-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
}
.view-recipe-holder {
  display: flex;
}
.photo-and-title {
  width: fit-content;
  position: relative;
}

.view-recipe-title-holder {
  width: 418px;
  height: 421px;
  transform: rotate(-90deg);
  position: absolute;
  left: -35px;

  .view-recipe-title {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    span {
    }
  }
}
.view-recipe-photo-holder {
  width: fit-content;

  .view-recipe-image {
    width: 468px;
  }
}

.description-holder {
  margin-left: 50px;
  text-align: left;
}
.des-top {
  h3 {
    text-align: left;
    font: normal normal normal 25px/33px Lato Black;
    letter-spacing: 5px;
    color: #000000;
    opacity: 1;
  }
  p {
    text-align: left;
    font: normal normal normal 20px/27px Caveat;
    letter-spacing: 4px;
    color: #000000;
    opacity: 1;
  }
}
.des-bottom {
  .time-serving-holder {
    text-align: left;
    font: normal normal normal 20px/27px Lato Black;
    letter-spacing: 4px;
    color: #000000;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
  }
}

/* ------------------------------------------------------ */
.view-list-holder {
  text-align: left;
  font: normal normal normal 25px/33px Lato Black;
  letter-spacing: 5px;
  color: #000000;
  opacity: 1;

  li {
    text-align: left;
    font: normal normal normal 20px/27px Caveat;
    letter-spacing: 4px;
    color: #000000;
    opacity: 1;
    list-style: none;
  }
}
.view-page-button-holder {
  background: #ffd972 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  width: 128px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.view-page-edit-button {
  width: 80%;
  // margin-left: 50px;
  width: 128px;
  height: 42px;

  background: #ffd972 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 20px/27px Caveat;
  letter-spacing: 2px;
  color: #000000;
  opacity: 1;
  border: none;
}
