/* ------------------------------------------------------ */
/*                          HERO                          */
/* ------------------------------------------------------ */
.hero-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
/* ------------------- home page hero ------------------- */
.home {
  background-image: url(../images/hero.png);
}
.home .hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 92, 84, 0.6)), to(rgba(242, 92, 84, 0.6)));
  background: linear-gradient(rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6));
}

/* ------------------ browse page hero ------------------ */
.browse {
  background-image: url(../images/f967b1be89502f15f69bc109368673fc@2x.png);
}
.browse .hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(167, 232, 189, 0.6)), to(rgba(167, 232, 189, 0.6)));
  background: linear-gradient(rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6));
}